{{>header}}
<!-- ChartJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">D1 Karting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Etusivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kuljettajat">Kuljettajat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/osakilpailut">Osakilpailut</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/tulokset">Tulokset<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="list-group" style="text-align:center; margin-top:100px">
    <a href="#" id="imatra" class="list-group-item list-group-item-action">Imatra 14.9.2019</a>
    <a href="#" id="vantaa" class="list-group-item list-group-item-action">Vantaa 12.10.2019</a>
    <a href="#" class="list-group-item list-group-item-action">3. Osakilpailu</a>
    <a href="#" class="list-group-item list-group-item-action">4. Osakilpailu</a>
    <a href="#" class="list-group-item list-group-item-action">5. Osakilpailu</a>
    <a href="#" class="list-group-item list-group-item-action">6. Osakilpailu</a>
    <a href="#" id ="pistetilanne" class="list-group-item list-group-item-action">Pistetilanne</a>
  </div>
</div>

<div id="aikaTaulukkoImatra" class="container" style="margin-top:100px">
  <h1 style="text-align: center">AIKA-AJOT</h1>
  <table class="table">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nimi</th>
        <th scope="col">Paras aika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Jani</td>
        <td>50.74</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ville</td>
        <td>50.90</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lauri</td>
        <td>51.08</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Toni</td>
        <td>51.28</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Petteri</td>
        <td>51.60</td>
      </tr>
    </tbody>
  </table>
  <canvas id="myChartAikaImatra"></canvas>
</div>

<div id="kisaTaulukkoImatra" class="container" style="margin-top:100px; margin-bottom:100px">
  <h1 style="text-align: center">KISA</h1>
  <table class="table">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nimi</th>
        <th scope="col">Ero</th>
        <th scope="col">Paras aika</th>
        <th scope="col">Pisteet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lauri</td>
        <td></td>
        <td>50.70</td>
        <td>25</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jani</td>
        <td>+0:00.50</td>
        <td><b>49.82</b></td>
        <td>19</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ville</td>
        <td>+0:03.16</td>
        <td>50.28</td>
        <td>15</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Petteri</td>
        <td>+0:15.20</td>
        <td>50.67</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Toni</td>
        <td>+0:23.75</td>
        <td>51.47</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  <canvas id="myChartKisaImatra"></canvas>
</div>

<div id="aikaTaulukkoVantaa" class="container" style="margin-top:100px">
  <h1 style="text-align: center">AIKA-AJOT</h1>
  <table class="table">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nimi</th>
        <th scope="col">Paras aika</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Jäkälä</td>
        <td>42.955</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Petteri</td>
        <td>43.889</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jani</td>
        <td>44.280</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Lauri</td>
        <td>44.585</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mika</td>
        <td>44.722</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Juha</td>
        <td>45.792</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Ville.L</td>
        <td>46.858</td>
      </tr>
    </tbody>
  </table>
  <canvas id="myChartAikaVantaa"></canvas>
</div>

<div id="kisaTaulukkoVantaa" class="container" style="margin-top:100px; margin-bottom:100px">
  <h1 style="text-align: center">KISA</h1>
  <table class="table">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nimi</th>
        <th scope="col">Paras aika</th>
        <th scope="col">Pisteet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Jäkälä</td>
        <td><b>42.485</b></td>
        <td>26</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mika</td>
        <td>43.413</td>
        <td>18</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Petteri</td>
        <td>43.199</td>
        <td>15</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Jani</td>
        <td>43.631</td>
        <td>12</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Lauri</td>
        <td>43.453</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Ville.L</td>
        <td>44.422</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Juha</td>
        <td>44.510</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
  <canvas id="myChartKisaVantaa"></canvas>
</div>

<div id="pisteTaulukko" class="container" style="margin-top:100px; margin-bottom:100px">
  <h1 style="text-align: center">PISTETILANNE</h1>
  <table class="table">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nimi</th>
        <th scope="col">Pisteet</th>
        <th scope="col">Ero</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lauri</td>
        <td>35</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jani</td>
        <td>31</td>
        <td>-4</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Petteri</td>
        <td>27</td>
        <td>-8</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Jäkälä</td>
        <td>26</td>
        <td>-9</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mika</td>
        <td>18</td>
        <td>-17</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Ville.S</td>
        <td>15</td>
        <td>-20</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Toni</td>
        <td>10</td>
        <td>-25</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Ville.L</td>
        <td>8</td>
        <td>-27</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Juha</td>
        <td>6</td>
        <td>-29</td>
      </tr>
    </tbody>
  </table>
  <canvas id="pisteKuvaaja"></canvas>
</div>



<script type="text/javascript">
  document.getElementById("imatra").addEventListener("click", moreInfoImatra);
  function moreInfoImatra(){
  x = document.getElementById("imatra")
  v = document.getElementById("vantaa")
  p = document.getElementById("pistetilanne")
  if (x.className === "list-group-item list-group-item-action") {
    x.className = "list-group-item list-group-item-action active border-secondary bg-secondary";
    v.className = "list-group-item list-group-item-action"
    p.className = "list-group-item list-group-item-action"
    document.getElementById("kisaTaulukkoImatra").style.display = "block"
    document.getElementById("aikaTaulukkoImatra").style.display = "block"
    document.getElementById("kisaTaulukkoVantaa").style.display = "none"
    document.getElementById("aikaTaulukkoVantaa").style.display = "none"
    document.getElementById("pisteTaulukko").style.display = "none"
    document.getElementById("pisteKuvaaja").style.display = "none"
  } else {
    x.className = "list-group-item list-group-item-action";
  }
  var ctx = document.getElementById('myChartKisaImatra').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: ['1', '2', '3', '4', '5', '6', '7','8','9','10','11', '12', '13', '14', '15', '16', '17','18','19','20'],
        datasets: [{
            label:'{{imatraPetteri}}',
            fill: false,
            borderColor: 'rgb(0,0,205)',
            data: [{{imatraKisaAikaPetteri}}]
        },{
            label:'{{imatraVille}}',
            fill: false,
            borderColor: 'rgb(165,42,42)',
            data: [{{imatraKisaAikaVille}}]
        },{
            label:'{{imatraLauri}}',
            fill: false,
            borderColor: 'rgb(46,139,87)',
            data: [{{imatraKisaAikaLauri}}]
        },{
            label:'{{imatraJani}}',
            fill: false,
            borderColor: 'rgb(138,43,226)',
            data: [{{imatraKisaAikaJani}}]
        },{
            label:'{{imatraToni}}',
            fill: false,
            borderColor: 'rgb(205,133,63)',
            data: [{{imatraKisaAikaToni}}]
        }]
      },
      // Configuration options go here
      options: {
        scales: {
          yAxes: [{
            ticks: {
              reverse: true,
            }
          }]
        }
      }
  });

  var ctx = document.getElementById('myChartAikaImatra').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ['1', '2', '3', '4', '5', '6', '7','8','9','10'],
          datasets: [{
              label:'{{imatraPetteri}}',
              fill: false,
              borderColor: 'rgb(0,0,205)',
              data: [{{imatraAaikaPetteri}}]
          },{
              label:'{{imatraVille}}',
              fill: false,
              borderColor: 'rgb(165,42,42)',
              data: [{{imatraAaikaVille}}]
          },{
              label:'{{imatraLauri}}',
              fill: false,
              borderColor: 'rgb(46,139,87)',
              data: [{{imatraAaikaLauri}}]
          },{
              label:'{{imatraJani}}',
              fill: false,
              borderColor: 'rgb(138,43,226)',
              data: [{{imatraAaikaJani}}]
          },{
              label:'{{imatraToni}}',
              fill: false,
              borderColor: 'rgb(205,133,63)',
              data: [{{imatraAaikaToni}}]
          }]
      },

      // Configuration options go here
      options: {
        scales: {
          yAxes: [{
            ticks: {
              reverse: true,
            }
          }]
        }
      }
  });
}

</script>

<script type="text/javascript">
document.getElementById("vantaa").addEventListener("click", moreInfoVantaa);
  function moreInfoVantaa(){
  x = document.getElementById("vantaa")
  i = document.getElementById("imatra")
  p = document.getElementById("pistetilanne")
  if (x.className === "list-group-item list-group-item-action") {
    x.className = "list-group-item list-group-item-action active border-secondary bg-secondary";
    i.className = "list-group-item list-group-item-action"
    p.className = "list-group-item list-group-item-action"
    document.getElementById("kisaTaulukkoImatra").style.display = "none"
    document.getElementById("aikaTaulukkoImatra").style.display = "none"
    document.getElementById("kisaTaulukkoVantaa").style.display = "block"
    document.getElementById("aikaTaulukkoVantaa").style.display = "block"
    document.getElementById("pisteTaulukko").style.display = "none"
    document.getElementById("pisteKuvaaja").style.display = "none"
  } else {
    x.className = "list-group-item list-group-item-action";
  }
  var ctx = document.getElementById('myChartKisaVantaa').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
        labels: ['Jäkälä','Mika','Petteri','Jani','Lauri','Ville.L','Juha'],
        datasets: [{
            label:'Kisan paras aika',
            fill: true,
            data: [{{vantaaKisaAikaJakala}},{{vantaaKisaAikaMika}},{{vantaaKisaAikaPetteri}},{{vantaaKisaAikaJani}}
                  ,{{vantaaKisaAikaLauri}},{{vantaaKisaAikaVilleL}},{{vantaaKisaAikaJuha}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(230, 139, 64, 0.2)'
          ],
          borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 44, 1)',
                'rgba(230, 139, 44, 1)'
            ],
          borderWidth: 1
        }]
      },
      // Configuration options go here
      options: {
        scales: {
          xAxes: [{
            ticks: {
              reverse: false, // will reverse the scale
            },
          }],
          yAxes: [{
            ticks: {
              reverse: true,
              // beginAtZero: true
            },
          }]
        }
      }
  });

  var ctx = document.getElementById('myChartAikaVantaa').getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
          labels: ['1', '2', '3', '4', '5', '6', '7','8','9','10'],
          datasets: [{
              label:'{{vantaaPetteri}}',
              fill: false,
              borderColor: 'rgb(0,0,205)',
              data: [{{vantaaAaikaPetteri}}]
          },{
              label:'{{vantaaVilleL}}',
              fill: false,
              borderColor: 'rgb(165,42,42)',
              data: [{{vantaaAaikaVilleL}}]
          },{
              label:'{{vantaaLauri}}',
              fill: false,
              borderColor: 'rgb(46,139,87)',
              data: [{{vantaaAaikaLauri}}]
          },{
              label:'{{vantaaJani}}',
              fill: false,
              borderColor: 'rgb(138,43,226)',
              data: [{{vantaaAaikaJani}}]
          },{
              label:'{{vantaaMika}}',
              fill: false,
              borderColor: 'rgb(205,133,63)',
              data: [{{vantaaAaikaMika}}]
          },{
              label:'{{vantaaJakala}}',
              fill: false,
              borderColor: 'rgb(81,206,92)',
              data: [{{vantaaAaikaJakala}}]
          },{
              label:'{{vantaaJuha}}',
              fill: false,
              borderColor: 'rgb(17,205,205)',
              data: [{{vantaaAaikaJuha}}]
          }
          ]
      },

      // Configuration options go here
      options: {
        scales: {
          yAxes: [{
            ticks: {
              reverse: true,
            }
          }]
        }
      }
  });
}

</script>

<script type="text/javascript">
document.getElementById("pistetilanne").addEventListener("click", moreInfoPiste);
  function moreInfoPiste(){
  x = document.getElementById("pistetilanne")
  v = document.getElementById("vantaa")
  i = document.getElementById("imatra")
  if (x.className === "list-group-item list-group-item-action") {
    x.className = "list-group-item list-group-item-action active border-secondary bg-secondary";
    i.className = "list-group-item list-group-item-action"
    v.className = "list-group-item list-group-item-action"
    document.getElementById("kisaTaulukkoImatra").style.display = "none"
    document.getElementById("aikaTaulukkoImatra").style.display = "none"
    document.getElementById("kisaTaulukkoVantaa").style.display = "none"
    document.getElementById("aikaTaulukkoVantaa").style.display = "none"
    document.getElementById("pisteTaulukko").style.display = "block"
    document.getElementById("pisteKuvaaja").style.display = "block"
  } else {
    x.className = "list-group-item list-group-item-action";
  }
  var ctx = document.getElementById('pisteKuvaaja');
  var chart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Lauri', 'Jani', 'Petteri', 'Jäkälä', 'Mika', 'Ville.S', 'Toni', 'Ville.L', 'Juha'],
          datasets: [{
              label: '# Pisteet',
              data: [35, 31, 27, 26, 18, 15, 10, 8, 6],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 64, 0, 0.2)',
                  'rgba(255, 0, 191, 0.2)',
                  'rgba(0, 255, 191, 0.2)'

                ],
                borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(255, 64, 0, 1)',
                  'rgba(255, 0, 191, 1)',
                  'rgba(0, 255, 191, 1)'
                ],
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                      beginAtZero: false
                    }
                  }]
                }
              }
            });
}

</script>
<script type="text/javascript">
document.getElementById("kisaTaulukkoImatra").style.display = "none"
document.getElementById("aikaTaulukkoImatra").style.display = "none"
document.getElementById("kisaTaulukkoVantaa").style.display = "none"
document.getElementById("aikaTaulukkoVantaa").style.display = "none"
document.getElementById("pisteTaulukko").style.display = "none"
document.getElementById("pisteKuvaaja").style.display = "none"
</script>


{{>footer}}
